    <div class="dashboard-content fullHt my_dashboard">
                <div class="dash-board-title">Completed Jobs</div>
                <div class="dash-info-outers">
                    <div class="list-group">
                        <div class="table-responsive my_table_style">
                            <table class="table table-bordered table-striped table-hover">
                                 <thead>
                                    <tr>
                                        <th width="60px">Job No</th>
                                        <th width="130px">Customer</th>
                                        <th width="130px">Service</th>
                                        <th width="100px">Service Type </th>
                                        <th width="160px">Service Booking Type</th>
                                        <th width="110px">Description</th>
                                        <th width="110px">View Address(Map)</th>
                                        <th width="60px">Status</th>
                                        <th width="60px">Requested On </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="booking in vm.completed_jobs" >
                                        <td>{{$index+1}}</td>
                                        <td>{{booking.user.displayName}}</td>
                                        <td>{{booking.service.title}}</td>
                                        <td>{{(booking.serviceType==1)?'One Time':'Recurring'}}</td>
                                        <td>{{booking.bookServiceType==1?'Now':'Schedule'}}</td>
                                        <td>{{booking.workDescription}}</td>
                                        <td> <a ui-sref="book.completedJobsDetail({bookingId:booking._id})">View Detail
                                            </a></td>
                                        <td>
                                            Completed
                                        </td>
                                        <td>{{booking.created | date:'MM/dd/y hh:mm:ss'}}</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="no_records" ng-if="vm.completed_jobs.length==0">
                            
                            No record Found.
                        </div>
 
  </div>
                </div>
            </div>