<section class="dash-header clearfix" ng-controller="DashboardController as vm">
    <div class="dash-logo">
      <a ng-if="vm.authentication.user.roles[0] == 'user'" href="/" target="_self">
        <img src="/media/img/footer-logo.png" alt="logo"/>
      </a>
      <a ng-if="vm.authentication.user.roles[0] == 'technician'" href="javascript:void(0)" style="cursor:default" target="_self">
        <img src="/media/img/footer-logo.png" alt="logo"/>
      </a>
    </div>
    <div class="dash-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Dashboard">
            <span class="input-group-btn">
                <button class="btn" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <div class="dash-nav">
        <ul>
            <li class="status-dash"><a href="javascript:void(0)">{{vm.authentication.user.displayName}} <span><img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="profile"/></span> </a>
                <ul class="inters-details">
                    <li><a ui-sref="dashboard.profile">Profile <i class="fa fa-user"></i></a></li>
                    <li><a ui-sref="settings.profile">Edit Profile <i class="fa fa-cog"></i></a></li>
                    <li><a ui-sref="settings.picture">Edit Profile Picture<i class="fa fa-cogs"></i></a></li>
                    <li><a ui-sref="settings.password">Change Password <i class="fa fa-cogs"></i></a></li>
                    <li><a href="/api/auth/signout" target="_self">Logout <i class="fa fa-power-off"></i></a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"><i class="fa fa-bell-o"></i> <div class="notifc"><span class="scale-effe"></span><span class="point">2</span></div></a></li>
            <li class="msg-click"><a href="javascript:void(0)"><i class="fa fa-envelope-o"></i> <div class="notifc"><span class="scale-effe"></span><span class="point">6</span></div></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-calendar"></i> <div class="notifc"><span class="scale-effe"></span><span class="point">4</span></div></a></li>
        </ul>
    </div>
</section>
