
                <div class="msg-seach">
                    <input type="text" class="form-control" id="" placeholder="Search">
                </div>
                <div class="msg-title">Recent Chat</div>
                <div class="media">
                    <div class="media-left"><a href="javascript:void(0)"><img class="media-object" src="img/user-profile.png" alt="user"></a></div>
                    <div class="media-body"><h4 class="media-heading">Josephin Doe</h4></div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="javascript:void(0)"><img class="media-object" src="img/user-profile1.png" alt="user"></a></div>
                    <div class="media-body"><h4 class="media-heading">Lary Doe</h4></div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="javascript:void(0)"><img class="media-object" src="img/user-profile3.png" alt="user"></a></div>
                    <div class="media-body"><h4 class="media-heading">Alice</h4></div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="javascript:void(0)"><img class="media-object" src="img/user-profile.png" alt="user"></a></div>
                    <div class="media-body"><h4 class="media-heading">Alia</h4></div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="javascript:void(0)"><img class="media-object" src="img/user-profile3.png" alt="user"></a></div>
                    <div class="media-body"><h4 class="media-heading">Suzen</h4></div>
                </div>
                <div class="media">
                    <div class="media-left"><a href="javascript:void(0)"><img class="media-object" src="img/user-profile1.png" alt="user"></a></div>
                    <div class="media-body"><h4 class="media-heading">Michael Scofield</h4></div>
                </div>
                <div class="chating-ims">
                    <h2><a href="javascript:void(0)" class="msg-closer"><i class="pull-left fa fa-angle-left"></i></a> Josephin Doe</h2>
                    <div class="media my-chat">
                        <div class="media-left"><img class="media-object" src="img/user-profile.png" alt="user"></div>
                        <div class="media-body"><p>I'm just looking around. Will you tell me something about yourself?
                                <span>8:20 a.m.</span></p>
                        </div>
                    </div>
                    <div class="media other-chating">
                        <div class="media-body"><p>I'm just looking around. Will you tell me something about yourself?
                                <span>8:20 a.m.</span></p>
                        </div>
                        <div class="media-right"><img class="media-object" src="img/user-profile1.png" alt="user"></div>
                    </div>
                    <div class="chating-textarea">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Message">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-send-o"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            