<div class="page-header">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 col-md-offset-4" style="margin-top: 2em">
      <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h1>Manage Standard Work Time 
          <span class="clearfix"></span>
        </h1>

      </div>
      <div class="x_content">
        <div ng-if="vm.pagedItems.length < 1" class="panel panel-info">
          <div class="panel-heading">
            <h4>No area added yet!</h4>
          </div>
          <div class="panel-body">
            <a role="button" class="btn btn-primary" ui-sref="admin.stdtimeslots.create" title="Click to add new stdtimeslot">Create new one</a>
          </div>
        </div>
        <table ng-if="vm.pagedItems.length > 0" class="table table-striped jambo_table">
          <thead>
          <tr class="headings">
            <th class="column-title">Area</th>
            <th class="column-title" width="35%">Standard Work Time</th>
            <th class="column-title" width="35%">Updated By</th>
            <th class="column-title" width="10%">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="stdtimeslot in vm.pagedItems">
            <td><span ng-bind="stdtimeslot.title"></span> </td>
            <td>{{ stdtimeslot.from_time | date:"HH:mm" }} - {{ stdtimeslot.to_time | date:"HH:mm" }}</td>
            <td>{{ stdtimeslot.user.displayName}}</td>
            <td><a ui-sref="admin.stdtimeslots.edit({stdtimeslotId: stdtimeslot._id})"> <i class="fa fa-pencil-square-o"></i></a></td>
          </tr>
          </tbody>
        </table>
        <uib-pagination ng-if="vm.pagedItems.length > 0" boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
      </div>
    </div>
  </div>
</div>
