<footer>
	<div class="top-footer">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-4">
                	<div class="foot-inner">
                    	<h1>Service</h1>
                        <div class="footer-logo"><a href="javascript:void(0)"><img src="/media/img/footer-logo.png" alt="logo"/></a></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed arcu in lectus volutpat cursus. Duis fermentum.</p>
                        <div class="social-footer">
                        	<ul>
                            	<li><a href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                            	<li><a href="javascript:void(0)" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            	<li><a href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            	<li><a href="javascript:void(0)" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="foot-inner">
                    	<h1>Our Services</h1>
                    	<ul class="footer-navs clearfix footer-crid">
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Electrical</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Security System</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Plumping</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Camera System</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Carpenter</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Smart Home</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Companied</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Access control</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> AC Maintenance</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Interior solutions</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Smart solutions</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Special Projects</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="foot-inner">
                    	<h1>Contact Us</h1>
                        <ul class="clearfix footer-navs">
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> 121 King Steet, Melbourne VIctoria 3000 Australia.</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Support@websitemail.com</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> +0 9000 800 900</a></li>
                        </ul>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-send-o"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot-footer"><div class="container">Copyright &copy; 2017 <a href="javascript:void(0)" title="www.yourwebsitename.com">www.yourwebsitename.com</a>. All Rights Reserved.</div></div>
</footer>