<!-------------------------------------------------------SLIDER START------------------------------------------------------>
<section ng-controller="HomeController as vm" class="banner-slider" id="homeTo" data-center="background-position: 0% 0px; opacity:1;" data-top-bottom="background-position: 0% -100px; opacity:1;">
	<div class="owl-carousel" id="banner-slide"  data-center="opacity: 1; bottom:0%;" data-top-bottom="opacity: 1; bottom:-50px;" data-anchor-target="#homeTo">
    	<div ng-repeat="bannerimage in vm.bannerimages" class="fullHt item" style="background-image:url(/{{ ((bannerimage.imgFile).replace('./public/','')) }});">
        	<div class="text-caption">
            	<div class="container">
                	<div class="red-ban-headings">We love to maintain your</div>
                	<h1>BEAUTIFUL HOME</h1>
                  	<p>Home Repair Services From pany Name here in Delhi NCR, Mumbai, Bangalore, Pune & Hyderabad</p>
                    <div class="app-btn">
                    	<a href="javascript:void(0)"><img src="media/img/apple_store.png" alt="apple-store-img"/></a>
                    	<a href="javascript:void(0)"><img src="media/img/google_play.png" alt="apple-store-img"/></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="step-drop bounce" data-scroll-nav="2"><img src="media/img/drop-mouse.png" alt="mouse cursor img"/></div>
</section>
<!---------------------------------------------------------HOWITSWORK SEC START----------------------------------------------------------------------->
<section class="how-it-sec" data-scroll-index="2">
	<div class="container">
    	<div class="sub-head">How it works</div>
        <div class="sub-head-para">Lorem Ipsum is simply dummy Business industry</div>
        <div class="hows-outer">
        	<div class="row">
            	<div class="col-sm-3">
                	<div class="hows-inter top-arr-after">
                    	<i class="hm-step_thin_01"></i>
                        <h3>Step 1</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
                <div class="col-sm-3">
                	<div class="hows-inter bot-arr-after">
                    	<i class="hm-step_thin_02"></i>
                        <h3>Step 2</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
                <div class="col-sm-3">
                	<div class="hows-inter top-arr-after">
                    	<i class="hm-step_thin_03"></i>
                        <h3>Step 3</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
                <div class="col-sm-3">
                	<div class="hows-inter">
                    	<i class="hm-step_04"></i>
                        <h3>Step 4</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------OUR SERVICE SEC START----------------------------------------------------------------------->
<section class="service-our-sec" style="background-image:url(media/img/service-bg.png);">
	<div class="container">
    	<div class="sub-head">Our Services</div>
        <div class="sub-head-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
    </div>
    <div class="service-slider">
    	<div class="owl-carousel owl-theme" id="service-slide">
            <div class="item">
            	<div class="slider-inouter" style="background-image:url(media/img/ser5.png);">
                	<div class="fix-icos"><i class="hm-electrical"></i></div>
                    <div class="servce-caption">
                    	<h2>Electrical</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
            <div class="item">
            	<div class="slider-inouter" style="background-image:url(media/img/ser1.png);">
                	<div class="fix-icos"><i class="hm-plumping"></i></div>
                    <div class="servce-caption">
                    	<h2>Plumping</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
            <div class="item">
            	<div class="slider-inouter" style="background-image:url(media/img/ser2.png);">
                	<div class="fix-icos"><i class="hm-carpenter"></i></div>
                    <div class="servce-caption">
                    	<h2>Security System</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
            <div class="item">
            	<div class="slider-inouter" style="background-image:url(media/img/ser3.png);">
                	<div class="fix-icos"><i class="hm-companied"></i></div>
                    <div class="servce-caption">
                    	<h2>Companied</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
            <div class="item">
            	<div class="slider-inouter" style="background-image:url(media/img/ser4.png);">
                	<div class="fix-icos"><i class="hm-ac_-maintenance"></i></div>
                    <div class="servce-caption">
                    	<h2>AC Maintenance</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
            <div class="item">
            	<div class="slider-inouter" style="background-image:url(media/img/ser2.png);">
                	<div class="fix-icos"><i class="hm-carpenter"></i></div>
                    <div class="servce-caption">
                    	<h2>Access control</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
            <div class="item">
            	<div class="slider-inouter" style="background-image:url(media/img/ser4.png);">
                	<div class="fix-icos"><i class="hm-step_02"></i></div>
                    <div class="servce-caption">
                    	<h2>Interior  solutions</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------------------------------------------------APP HOUSE SEC START----------------------------------------------------------------------->
<section class="app-house-sec" style="background-image:url(media/img/app-house-bg.png);" id="app-home">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-6">
            	<div class="app-house-inner">
                	<h2>Maintenane House <span>"Mobile App"</span></h2>
                    <p>Download the simplest app to book services with ease</p>
                    <a href="javascript:void(0)"><img src="media/img/google_play.png" alt="google play"/></a>
                    <a href="javascript:void(0)"><img src="media/img/apple_store.png" alt="app store"/></a>
                </div>
            </div>
            <div class="col-sm-6">
            	<div class="about-m">
                    <div class="ab-mob large-mb" data-bottom-top="right:0%;" data-top-bottom="right:0%;" data-top-top="right:35%;" data-anchor-target="#app-home"><img src="media/img/apple-1.png" alt=""></div>
                    <div class="ab-mob small-mb" data-bottom-top="opacity:0.5; right:-5%;" data-top-bottom="opacity:0; right:0%;" data-top-top="opacity:1; right:5%;" data-anchor-target="#app-home"><img src="media/img/apple-2.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>