<section class="inner-page-top-sec" style="background-image:url(/media/img/slide1.jpg);">
    <div class="container">
        <h2>Forgot Password</h2>
        <div class="page-bradcrums">
            <ol class="breadcrumb">
                <li><a href="javascript:void(0)">Home</a></li>
                <li class="active">Forgot Password</li>
            </ol>
        </div>
    </div>
</section>
<section class="log-reg-sec">
    <div class="popup-outer">
        <div class="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="madal-logo"><a href="javascript:void(0)"><img src="/media/img/modal-logo.png" alt="site Logo"/></a></div>
                    </div>
                    <div class="modal-body log-form-flds">
                        <h1>Restore your password</h1>
                        <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)"  novalidate autocomplete="off">
                            <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required autofocus>
                            <div ng-if="pasword_submitted || vm.forgotPasswordForm.username.$dirty">
                            <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Enter a username.</p>
                            </div>
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        Back To <a ui-sref="authentication.signin">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
