
            <div class="dashboard-content fullHt">
                <div class="dash-board-title">General Information</div>
                <div class="dash-info-outers">
                    <form class="form-horizontal border-boters">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2">First Name</label>
                            <div class="col-sm-10">{{vm.user.firstName}}</div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2">Last Name</label>
                            <div class="col-sm-10">{{vm.user.lastName}}</div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2">Email Id</label>
                            <div class="col-sm-10">{{vm.user.email}}</div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2">Phone</label>
                            <div class="col-sm-10">{{vm.user.mobileNo}}</div>
                        </div>
                        
                        
                        
                    </form>
                </div>
            </div>
   