<section class="inner-page-top-sec" style="background-image:url(/media/img/slide1.jpg);">
    <div class="container">
        <h2>Service Detail</h2>
        <div class="page-bradcrums">
            <ol class="breadcrumb">
                <li><a href="javascript:void(0)">Home</a></li>
                <li class="active">Service Detail</li>
            </ol>
        </div>
    </div>
</section>
<section class="log-reg-sec">
    <div class="popup-outer">
            
        <div class="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="madal-logo"><a href="javascript:void(0)"><img src="/media/img/modal-logo.png" alt="site Logo"/></a></div>
                    </div>
                    <div class="modal-body log-form-flds">
                            <form name="vm.serviceRequirmentForm" ng-submit="vm.serviceRequirment(vm.serviceRequirmentForm.$valid)" class="signin" novalidate autocomplete="off" novalidate  enctype='multipart/form-data'>
                            <input type="text" id="workDescription" name="workDescription" class="form-control" ng-model="vm.credentials.workDescription" placeholder="Work Description" required autofocus>
                            
                            <div ng-if="submitted || vm.serviceRequirmentForm.workDescription.$dirty">
                            <div  ng-messages="vm.serviceRequirmentForm.workDescription.$error" role="alert">
                                <p class="help-block error-text" ng-message="required">Work description is required.</p>
                            </div>
                            </div>
                            
                            
                            
                            
                            <button ngf-multiple="true" class="btn" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="vm.credentials.picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
                            <ul>                          
                            <li ng-repeat="f in vm.credentials.picFile" style="font:smaller">
                                <img ngf-src="f" width="100px" height="100px" ngf-drop>
         
    </li>     
  </ul>
                            <button type="submit" class="btn">Submit</button>
                            <div class="clearfix cust-checker">
                            
                                
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>