<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>P-1090 Login</title>
    <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet"> 
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="css/si-icons.css" rel="stylesheet" type="text/css" />
    <link href="css/animated.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-------------------------------------------------------HEADER START------------------------------------------------------>
<header>
	<nav class="custom-nav clearfix">
    	<div class="logo"><a href="javascript:void(0)"><img src="img/logo.png" alt="site-logo"/></a></div>
        <div class="inner-head">
        	<div class="top-head clearfix">
            	<ul class="pull-left">
                	<li><a href="javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                	<li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                	<li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                	<li><a href="javascript:void(0)"><i class="fa fa-pinterest-p"></i></a></li>
                    <li><span>Support?</span> CALL: 0900 800 900</li>
                </ul>
            	<ul class="pull-right">
                	<li><a href="javascript:void(0)"><i class="fa fa-globe"></i> Language</a></li>
                	<li><a href="javascript:void(0)" data-toggle="modal" data-target="#log-in-pops">Login</a></li>
                	<li><a href="javascript:void(0)" data-toggle="modal" data-target="#select-user-log">Signup</a></li>
                </ul>
            </div>
            <div class="bot-head">
            	<ul>
                	<li><a href="javascript:void(0)">Home</a></li>
                	<li><a href="javascript:void(0)">About us</a></li>
                	<li><a href="javascript:void(0)">Services</a></li>
                	<li><a href="javascript:void(0)">Blog</a></li>
                	<li><a href="javascript:void(0)">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="search-header"><a href="javascript:void(0)"><i class="hm-search"></i></a></div>
    	<div class="nav-open-btn">
            <button class="btn">
                 <span class="lines"></span>
            </button>
        </div>
    </nav>
    <div class="search-fix-caption">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-4">
                	<div class="cust-search">
                        <select class="form-control">
                          <option>Top Category</option>
                          <option>Electrical</option>
                          <option>Plumping</option>
                          <option>Carpenter</option>
                          <option>Companied</option>
                          <option>AC Maintenance</option>
                          <option>Smart Solutions</option>
                          <option>Smart Home</option>
                          <option>Camera System</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
        			<input type="text" class="form-control" id="" placeholder="Search . . .">
                </div>
            </div>	
        </div>
    </div>
</header>
<!-------------------------------------------------------INNER-PAGE-HEAD START------------------------------------------------------>
<section class="inner-page-top-sec" style="background-image:url(img/slide1.jpg);">
	<div class="container">
    	<h2>Login</h2>
        <div class="page-bradcrums">
        	<ol class="breadcrumb">
              <li><a href="javascript:void(0)">Home</a></li>
              <li class="active">Login</li>
            </ol>
        </div>
    </div>
</section>
<section class="log-reg-sec">
	<div class="popup-outer">
    	<div class="">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <div class="madal-logo"><a href="javascript:void(0)"><img src="img/modal-logo.png" alt="site Logo"/></a></div>
              </div>
              <div class="modal-body log-form-flds">
                    <h1>Login to your Account</h1>
                    <input type="email" class="form-control" id="" placeholder="PHONE/EMAIL ID">
                    <input type="password" class="form-control last-border-sf" id="" placeholder="PASSWORD">
                    <button type="button" class="btn">SIGN IN</button>
                    <div class="clearfix cust-checker">
                        <div class="pull-left"><div class="our-checkboxs"> <p><input type="checkbox" id="test1" /><label for="test1">Keep me SignIn</label></p></div></div>
                        <div class="pull-right"><a href="javascript:void(0)">Forgot Password?</a></div>
                    </div>
              </div>
              <div class="modal-footer">
                New user? <a href="javascript:void(0)">Sign Up</a>
              </div>
            </div>
          </div>
    </div>
    </div>
</section>
<!---------------------------------------------------------FOOTER SEC START----------------------------------------------------------------------->
<footer>
	<div class="top-footer">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-4">
                	<div class="foot-inner">
                    	<h1>Service</h1>
                        <div class="footer-logo"><a href="javascript:void(0)"><img src="img/footer-logo.png" alt="logo"/></a></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed arcu in lectus volutpat cursus. Duis fermentum.</p>
                        <div class="social-footer">
                        	<ul>
                            	<li><a href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                            	<li><a href="javascript:void(0)" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            	<li><a href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            	<li><a href="javascript:void(0)" title="Pinterest"><i class="fa fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="foot-inner">
                    	<h1>Our Services</h1>
                    	<ul class="footer-navs clearfix footer-crid">
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Electrical</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Security System</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Plumping</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Camera System</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Carpenter</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Smart Home</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Companied</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Access control</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> AC Maintenance</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Interior solutions</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Smart solutions</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Special Projects</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                	<div class="foot-inner">
                    	<h1>Contact Us</h1>
                        <ul class="clearfix footer-navs">
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> 121 King Steet, Melbourne VIctoria 3000 Australia.</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> Support@websitemail.com</a></li>
                        	<li><a href="javascript:void(0)"><i class="fa fa-angle-right"></i> +0 9000 800 900</a></li>
                        </ul>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-send-o"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot-footer"><div class="container">Copyright &copy; 2017 <a href="javascript:void(0)" title="www.yourwebsitename.com">www.yourwebsitename.com</a>. All Rights Reserved.</div></div>
</footer>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/scrollIt.min.js"></script>
<script src="js/skrollr.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/device.min.js"></script>
<script src="js/custom.js"></script>
<script type="text/javascript">
	$(window).bind("load", function() {
		   var footer = $("footer");
				var pos = footer.position();
				var height = $(window).height();
				height = height - pos.top;
				height = height - footer.height();
				if (height > 0) {
				footer.css({'margin-top' : height+'px'});
		   }
	});
</script> 
</body>
</html>